@font-face {
    font-family: "ZenKurenaido";
    src: url("./ZenKurenaido-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: ZenKurenaido;
}

body{

    background-image: url("../img/loginBG.png");
    
}

header{

    margin: 30px;
}

.banner .container{
    height: 450px;
    align-items: center;
    justify-content: center;
}

.container {

    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.caixa-formulario{
    background-color: #e5e5e5;
    padding: 50px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo label{
    color: #000000;
    margin: 15px 0px;
}

.campo input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000000;
    color: black;
}

.caixa-formulario button{
    margin-top: 20px;
    width: 120px;
    color: #ffffff;
    background-color: #e6005a;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.caixa-formulario button:hover{
    opacity: 0.8;
}
