.conteudo .container{

    margin: 0 50px;
    display: flex;
    /* width: 500px; */
}

.texto{

    flex-direction: column;
    width: 600px;
}

.container h2{

    font-size: 30px;
}

.container p{

    margin: 20px 0 20px 0;
}