/* .conteudo .container{

    margin: 0 50px; 
    display: flex; 
    width: 500px;
    justify-content: space-between;
    border: 1px solid #000000;
} */

.texto{

    flex-direction: column;
    width: 700px;
    margin-right: 100px;
}

.texto h2{

    font-size: 36px;
}

.texto p{

    margin: 20px 0;
    font-size: 18px;
}

.oQue{

    width: 800px;
}