.conteudo .container{

    margin: 0 50px;
    display: block;
    width: 800px;
    align-items: flex-start;    
}

.container h2{

    font-size: 30px;
}

.container p{

    margin: 20px 0 20px 0;
}