@font-face {
    font-family: "ZenKurenaido";
    src: url("./ZenKurenaido-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: ZenKurenaido;
}

header {

    
    background-color: #fcfcfc;
    padding: 30px;
    border-bottom: 1px solid #bcbcbc;
    ;
}

.container {

    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {

    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li {

    font-size: 20px;
}

.banner {

    background-image: url("./banner2.png");
    padding: 50px 0;
    margin-top: 20px;
}

.banner .container{

    height: 400px;
    align-items: center;
    justify-content: center;
}

.banner p{

    width: 50%;
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

